  
body{
    background-color: rgb(173, 230, 225);
    text-align: justify;
    font-family: 'Poiret One', cursive;
    font-style: normal;    
    color: rgb(0, 0, 0);
  }
  
  h1{
   font-size: x-large;   
  }
  
  .container{
      margin: 50px;
      padding: 100px;
  }

